//
// Colors
//
// There are different schools of thought about naming
// your color variables for your branding palette.
// @link http://sass-lang.com/styleguide/color/
//======================

$color-white: #fff;
$color-black: #000;
$color-blue: #xxx;

$color-primary: #000000;
$color-secondary: #fff;
$color-accent: #fff;
$color-background: #fff;

$color-text: #333;
$color-text-heading: #000;
$color-link: #000;
$color-link-hover: #000;

